/* Layout Styles */
.main-container-industry {
  position: relative;
  width: 100%;
  max-width: var(--container-max-width);
  height: var(--container-height);
  margin: 0 auto;
  background: var(--color-primary);
  overflow: hidden;
}

.hero-section-industry {
  padding-top: 50px;
  position: relative;
  width: 100%;
  height: 100%;
}

.logo-container {
  position: absolute;
  top: 0;
  left: 6.24%;
  width: 9.44%;
  height: 28.83%;
  z-index: 5;
}

.logo {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.hero-content {
  position: relative;
  width: 100%;
  height: 100%;
}

.hero-image {
  position: absolute;
  top: 6.9%;
  left: 29.57%;
  width: 65.14%;
  height: 68.63%;
  z-index: 7;
}

.main-hero-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.section-title-industry{
  position: relative;
    text-align: center;
    color: var(--color-white);
    font-family: var(--font-poppins);
    font-size: var(--font-size-hero);
    font-weight: var(--font-weight-semibold);
    line-height: var(--line-height-hero);
    white-space: nowrap;
    z-index: 29;
    margin-left: 36%;
}
h3.industry-title{
  font-size: 16px;
}
.industries-grid {
  position: absolute;
    top: 20%;
    left: 1.5%;
    width: 58%;
    height: 43.77%;
    z-index: 87;
}

.left-panel {
  position: absolute;
  top: 36.64%;
  left: 5.1%;
  width: 20.48%;
  height: 63.36%;
  z-index: 6;
}

.left-panel-bg {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.bottom-banner {
  position: absolute;
  bottom: 7.19%;
  left: 29.57%;
  width: 65.33%;
  height: 7.19%;
  z-index: 8;
}

.banner-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
