    .logo-slider-section {
      background: #FF4612;
      padding: 100px 20px;
      overflow: hidden;
    }

    .logo-slider-container {
      max-width: 1200px;
      margin: 0 auto;
    }

    .logo-slider-grid {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 60px;
      flex-wrap: wrap;
    }

    .logo-slider-text {
      flex: 1;
      max-width: 450px;
      color: #fff;
    }

    .slider-title {
      font-size: 46px;
      font-weight: 700;
      line-height: 70px;
      margin-bottom: 20px;
      color: #fff;
      text-transform: capitalize;
    }

    .slider-subtitle {
      font-size: 18px;
      font-weight: 400;
      line-height: 30px;
      margin-bottom: 20px;
    }

    .logo-columns {
      flex: 2;
      display: flex;
      justify-content: end;
      gap: 15px;
      height: 600px;
      overflow: hidden;
    }

    .logo-column {
      display: flex;
      flex-direction: column;
      gap: 20px;
      animation-duration: 20s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
    }

    .logo-column.slide-up {
      animation-name: slideUp;
    }

    .logo-column.slide-down {
      animation-name: slideDown;
    }

    .logo-item {
      width: 150px;
      height: 150px;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
    }

    .logo-item img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      padding: 10px;
    }

    @keyframes slideUp {
      0% {
        transform: translateY(0);
      }
      100% {
        transform: translateY(-100%);
      }
    }

    @keyframes slideDown {
      0% {
        transform: translateY(-100%);
      }
      100% {
        transform: translateY(0);
      }
    }

    @media (max-width: 1024px) {
      .slider-title{
        text-align: left;
        font-size: 35px;
        line-height: 50px;
      }
      .slider-subtitle{
        text-align: left;
      }
      
      .logo-slider-grid {
        flex-direction: row;
        align-items: center;
        text-align: center;
        gap: 20px;
      }

      .logo-slider-text {
        max-width: 100%;
        text-align: center;
      }

      .logo-columns {
        height: 400px;
      }
    }

    @media (max-width: 480px) {
      .logo-slider-grid{
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 20px;
      }
      .slider-title {
        font-size: 28px;
        line-height: 40px;
      }

      .logo-item {
        width: 110px;
        height: 110px;
      }

      .logo-columns {
        gap: 10px;
        height: 300px;
      }
      .logo-slider-container {
    max-width: 1200px;
    margin: 0 auto;
    height: 465px;
}
    .main-container-slider {
        padding: 50px 15px;
        min-height: 500px;
    }
    }