/* Articles Grid */
.main-container{
    transform: none !important;
}
.articles-grid {
  display: flex;
    flex-direction: column;
    gap: 0;
    margin: 0 auto;
    justify-content: center;
    width: 100%;
}

.article-card {
  position: relative;
  justify-content: space-between;
  display: flex;
  height: 400px;
  background: #ffffff;
  z-index: 19;
  overflow: hidden;
  transition: all 0.3s ease;
  padding: 1% 15%;
}

.article-card:hover{
  background-color: #ff461212 !important;
}

.article-card:hover p.article-description{
  opacity: 1;
}

.article-card:hover .hero-meta-blog{
  opacity: 1;
}

p.article-description {
    width: 400px;
    position: relative;
    margin-bottom: 20px;
   opacity: 0;
    transition: all .5s ease;
}
.article-card:nth-child(3) {
  background: #ffffff;
}

.article-date {
  display: inline;
  align-items: center;
  justify-content: flex-start;
  /*position: absolute;*/
  height: 112px;
  top: 34px;
  left: 850.449px;
  color: #ff4612;
  font-size: 100px;
  font-weight: 400;
  line-height: 112px;
  text-align: left;
  white-space: nowrap;
  z-index: 24;
}

.article-day {
  display: block;
}

.article-image {
  /*position: absolute;*/
  /*width: 22.47%;*/
  top: 50px;
  bottom: 50px;
  left: 16.3%;
  z-index: 20;
}

.article-image img {
  position: relative;
  width: 430px;
  height: 300px;
  object-fit: cover;
  z-index: 21;
}

.article-content {
  position: relative;
  margin-left: 20px;
  width: 400px;
  justify-content: space-between;
  display: grid;
}

.article-title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /*position: absolute;*/
  /*width: 485.04px;*/
  /*height: 69px;*/
  top: 54px;
  left: 1079.83px;
  color: #000;
  font-size: 26px;
  font-weight: 400;
  line-height: 39px;
  text-align: left;
  letter-spacing: 0.5px;
  z-index: 25;
}

.article-meta-date {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /*position: absolute;*/
  width: 64.23px;
  height: 41px;
  top: 169px;
  left: 866.061px;
  color: #394854;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  z-index: 23;
}

/* Hover Effects for Article 2 */
.article-card--hoverable {
  cursor: pointer;
}

.hover-content {
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(239, 245, 247, 0.95);
  z-index: 50;
}

.article-card--hoverable:hover {
  background: #d4e8ed;
}

.article-card--hoverable:hover .hover-content {
  opacity: 1;
  visibility: visible;
}

.hover-profile {
  position: absolute;
  width: 56px;
  height: 56px;
  top: 172px;
  left: 715px;
  z-index: 35;
}

.profile-circle {
  width: 56px;
  height: 56px;
  background: url(https://static.codia.ai/custom_image/2025-07-18/074333/profile-circle.svg) no-repeat center;
  background-size: cover;
  border-radius: 50%;
  position: relative;
}

.profile-arrow {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 16px;
  left: 16px;
  z-index: 36;
}

.profile-arrow::after {
  content: '';
  position: absolute;
  width: 8px;
  height: 14px;
  top: 5px;
  left: 8px;
  background: url(https://static.codia.ai/custom_image/2025-07-18/074333/arrow-icon.svg) no-repeat center;
  background-size: 100% 100%;
}

.hover-details {
  position: absolute;
  top: 169px;
  left: 1080px;
  z-index: 51;
}

.hover-description {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 488px;
  height: 117px;
  color: #555555;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  letter-spacing: 0.5px;
  margin-bottom: 20px;
}

.hover-meta {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.hover-author,
.hover-date {
  color: #394854;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.hover-author {
  font-weight: 500;
}

@media(min-width:1300px) and (max-width:1440px){
    .article-card{
     padding: 1% 10%;
    }
}

@media(min-width:1100px) and (max-width:1280px){
    .article-card{
     padding: 1% 5%;
    }
}

@media(min-width:991px) and (max-width:1080px){
    .article-image img{
        margin-right: 30px;
    }
    .articles-grid{
        margin-top: 70px;
    }
    .article-card{
        padding: 1% 3% !important;
    }
}

@media(min-width:768px) and (max-width:991px){
    
    .article-card{
        padding: 1% 3% ;
    }
    .article-image {
    margin-right: 20px;
}
.article-day {
    display: block;
    font-size: 56px;
    line-height: 1.4em;
}
.article-title {
    font-size: 25px;
    font-weight: 400;
    line-height: 34px;
    text-align: left;
}
    .article-card {
        padding: 5% 3%;
    }
}
@media(max-width:768px){
    .article-card {
    position: relative;
        justify-content: space-between;
        display: block !important;
        height: auto;
        background: #ffffff;
        z-index: 19;
        overflow: hidden;
        transition: all 0.3s ease;
        padding: 6% 5%;
        border: 1px solid #d1d1d1;
        margin: 15px;
}
.article-title{
    margin-bottom: 10px;
    height: 40px;
    font-size: 20px;
}
.article-date{
    display: flex;
    align-items: center;
    justify-content: start;
}
.article-content{
    margin-left: 0px;
    width: auto;
}
.article-day{
    font-size: 40px;
    margin-right: 20px;
}
 .filter-nav {
      display: grid;
       gap: 7px;
        position: relative;
       height: 46px;
       grid-template-columns: repeat(2, 1fr);
        width: auto;
       z-index: 5;
      margin: 192px 24px 74px 10px;
        align-content: center;
       align-items: center;
   }
}
/*@media(min-width:1300px) and (max-width:1440px){*/
/*    .hero-article {*/
/*    position: relative;*/
/*    width: 1612.81px;*/
/*    height: 648px;*/
/*    z-index: 11;*/
/*}*/
/*.articles-grid {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    gap: 0;*/
/*}*/
/*    .article-card {*/
/*    position: relative;*/
/*    height: 400px;*/
/*    background: #ffffff;*/
/*    z-index: 19;*/
/*    overflow: hidden;*/
/*    transition: all 0.3s ease;*/
/*}*/
/*}*/

/*@media(min-width:810px) and (max-width:1080px){*/
    
/*.mobile-nav {*/
/*    top: 16%;*/
/*}*/
    
/*    .article-card {*/
/*    position: relative;*/
/*    height: 400px;*/
/*    background: #ffffff;*/
/*    z-index: 19;*/
/*    overflow: hidden;*/
/*    transition: all 0.3s ease;*/
/*    margin: 0px 40px;*/
/*}*/
/*      .hero-article {*/
/*        position: relative;*/
/*        width: 1511px;*/
/*        height: 384px;*/
/*        margin: 35px 0 0 85px;*/
/*        z-index: 11;*/
/*    }*/
/*    .articles-grid {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    gap: 0;*/
/*    width: 100%;*/
/*    max-width: 1080px;*/
/*}*/
/*.hero-content {*/
/*        position: absolute !important;*/
/*        width: 36% !important;*/
/*        top: 0 !important;*/
/*        bottom: 0 !important;*/
/*        left: 30% !important;*/
/*        background: #ff4612 !important;*/
/*        z-index: 11 !important;*/
/*        padding: 0px !important;*/
/*        display: block !important;*/
/*        height: 387px;*/
/*        overflow: hidden;*/
/*    }*/

/*.article-date {*/
/*        display: flex;*/
/*        align-items: center;*/
/*        justify-content: flex-start;*/
        /*position: absolute;*/
/*        height: 112px;*/
/*        top: 34px;*/
/*        left: 410px;*/
/*        color: #ff4612;*/
/*        font-size: 100px;*/
/*        font-weight: 400;*/
/*        line-height: 112px;*/
/*        text-align: left;*/
/*        white-space: nowrap;*/
/*        z-index: 24;*/
/*    }*/


/*.article-meta-date {*/
/*        display: flex;*/
/*        align-items: center;*/
/*        justify-content: flex-start;*/
/*        position: absolute;*/
/*        width: 64.23px;*/
/*        height: 41px;*/
/*        top: 169px;*/
/*        left: 417px;*/
/*        color: #394854;*/
/*        font-size: 16px;*/
/*        font-weight: 400;*/
/*        line-height: 24px;*/
/*        text-align: left;*/
/*        z-index: 23;*/
/*    }*/
/*.article-title {*/
/*        display: flex;*/
/*        align-items: center;*/
/*        justify-content: flex-start;*/
/*        position: absolute;*/
/*        width: 380px;*/
/*        height: 69px;*/
/*        top: 54px;*/
/*        left: 590px;*/
/*        color: #000;*/
/*        font-size: 26px;*/
/*        font-weight: 400;*/
/*        line-height: 39px;*/
/*        text-align: left;*/
/*        letter-spacing: 0.5px;*/
/*        z-index: 25;*/
/*    }*/
/*.article-image {*/
/*    position: absolute;*/
/*    width: 22.47%;*/
/*    top: 50px;*/
/*    bottom: 50px;*/
/*    left: 4%;*/
/*    z-index: 20;*/
/*}*/
/*}*/

/*@media(max-width:810px){*/
/*    .mobile-nav {*/
/*    top: 16%;*/
/*}*/
/*    .filter-nav {*/
/*        display: grid*/
/*;*/
/*        gap: 7px;*/
/*        position: relative;*/
/*        height: 46px;*/
/*        grid-template-columns: repeat(2, 1fr);*/
/*        width: 24%;*/
/*        z-index: 5;*/
/*        margin: 154px 24px 0 10px;*/
/*        align-content: center;*/
/*        align-items: center;*/
/*    }*/
/*}*/