/* Filter Navigation */
.filter-nav {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: fit-content;
    height: 46px;
    margin: 146px 20px 30px 312px;
    z-index: 5;
}
body{
  overflow-x: hidden;
}
.hero-meta-blog{
position: relative;
    height: 27px;
    /*left: 1032px;*/
    /*margin: 182.5px 0 0 52.063px;*/
    z-index: 17;
    opacity: 0;
    transition: all .5s ease;
}
.hero-meta-blog .hero-icon {
    filter: brightness(0.5);
}
.hero-meta-blog .hero-author{
color: #000 !important;
}
.hero-meta-blog .hero-category{
  color: #000 !important;
}
.filter-btn {
  flex-shrink: 0;
  position: relative;
  height: 46px;
  background: #ffffff;
  border: 1px solid #808080;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.filter-btn--active {
  width: auto;
  background: #ff4612;
  color: #ffffff;
}

.filter-btn:not(.filter-btn--active) {
  width: auto;
  color: #212529;
}

.filter-btn span,
.filter-btn {
  font-family: 'poppins';
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 15px;
  font-size: 16px;
  font-weight: 400;
  line-height: 17px;
  text-align: left;
  white-space: nowrap;
}

/* Hero Article */
.hero-article {
    position: relative;
    width: 100%;
    height: 648px;
    z-index: 11;
    margin-left: 15%;
    overflow: hidden;
}
.hero-image {
    position: relative;
    height: 575px;
    width: 40%;
    top: 0;
    left: 0;
    background: url(https://static.codia.ai/custom_image/2025-07-18/074333/main-background.png) no-repeat center;
    background-size: cover;
    z-index: 8;
    overflow: hidden;
}

.hero-date {
  display: block;
  position: relative;
  margin: 20px;
}

.hero-day {
  display: block;
  height: 112px;
  color: #ffffff;
  font-size: 100px;
  font-weight: 400;
  line-height: 112px;
  text-align: left;
  white-space: nowrap;
  z-index: 9;
}

.hero-month {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 72.23px;
  height: 47px;
  margin: 376px 0 0 0;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  z-index: 10;
}

.hero-content {
    width: 45% !important;
    top: 0 !important;
    bottom: 0 !important;
    margin: 0px;
    flex-direction: column;
    justify-content: space-between;
    left: 0% !important;
    background: #ff4612 !important;
    z-index: 11 !important;
    padding: 50px !important;
}

.hero-title {
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  /*width: 488.04px;*/
  height: 89px;
  /*margin: 56px 0 0 50px;*/
  color: #ffffff;
  font-size: 34px;
  font-weight: 400;
  line-height: 51px;
  text-align: left;
  letter-spacing: 0.5px;
  z-index: 12;
}

.hero-description {
 display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    letter-spacing: 0.5px;
    z-index: 13;
    flex: none;
    max-width: 100%;
}

.hero-meta {
  position: relative;
  /*width: 421.91px;*/
  height: 27px;
  /*margin: 90.5px 0 0 52.063px;*/
  z-index: 17;
}

.hero-author {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 27px;
  top: 0;
  left: 29.938px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  white-space: nowrap;
  z-index: 16;
}

.hero-category {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 27px;
  top: 0;
  left: 207px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  white-space: nowrap;
  z-index: 17;
}

.hero-icon {
  position: absolute;
  width: 17.875px;
  height: 17.875px;
  top: 5.313px;
  left: 0;
  background: url(https://static.codia.ai/custom_image/2025-07-18/074333/icon-small.svg) no-repeat center;
  background-size: 100% 100%;
  z-index: 15;
}

/* CTA Button */
.cta-button {
  position: absolute;
  width: 184.89px;
  height: 50px;
  bottom: 50px;
  left: 1685.109px;
  background: #13628e;
  border: none;
  border-radius: 30px 10px 10px 30px;
  cursor: pointer;
  z-index: 46;
  transition: all 0.3s ease;
}

.cta-button:hover {
  background: #0f4d6b;
  transform: translateY(-2px);
}

.cta-icon {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  left: 0;
  border-radius: 50px;
  z-index: 47;
}

.cta-text {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 20px;
  top: 14.5px;
  left: 65px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.5px;
  z-index: 48;
}

@media(min-width:1025px) and (max-width:1080px){
    .hero-image {
    height: 386px;
    top: 0;
    width: 456px;
    left: 0;
    background: url(https://static.codia.ai/custom_image/2025-07-18/074333/main-background.png) no-repeat center;
    background-size: cover;
    z-index: 8;
    overflow: hidden;
}

.hero-title {
    font-size: 25px;
    font-weight: 400;
    line-height: 35px;
}
.hero-description {
    padding: 0px;
}
.hero-meta {
    position: relative;
    width: 421.91px;
    height: 27px;
    z-index: 17;
}

.hero-content {
        width: 32% !important;
        background: #ff4612 !important;
        justify-content: space-between;
        z-index: 11 !important;
        padding: 40px !important;
        height: auto;
    }

.hero-category {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    height: 27px;
    top: 0;
    left: 260px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    white-space: nowrap;
    z-index: 17;
}

.hero-month {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    width: 100px;
    height: 47px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    bottom: -152px;
    z-index: 10;
}

.filter-nav {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 220.339px;
    height: 46px;
    margin: 140px 0 0 153px;
    z-index: 5;
}

.hero-article {
    position: relative;
    width: 1511px;
    height: 384px;
    margin: 35px 0 0 149px;
    z-index: 11;
}
}

@media(min-width:991px) and (max-width:1024px){
    
        .hero-image {
    height: 386px;
    top: 0;
    width: 456px;
    left: 0;
    background: url(https://static.codia.ai/custom_image/2025-07-18/074333/main-background.png) no-repeat center;
    background-size: cover;
    z-index: 8;
    overflow: hidden;
}

.hero-title {
    font-size: 25px;
    font-weight: 400;
    line-height: 35px;
}
.hero-description {
    padding: 0px;
}
.hero-meta {
    position: relative;
    width: 421.91px;
    height: 27px;
    z-index: 17;
}

.hero-content {
        width: 32% !important;
        background: #ff4612 !important;
        justify-content: space-between;
        z-index: 11 !important;
        padding: 40px !important;
        height: auto;
    }

.hero-category {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    height: 27px;
    top: 0;
    left: 260px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    white-space: nowrap;
    z-index: 17;
}

.hero-month {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    width: 100px;
    height: 47px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    bottom: -152px;
    z-index: 10;
}

.filter-nav {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 46px;
    margin: 181px 0 0 85px;
    z-index: 5;
}
        .hero-article {
        position: relative;
        width: 1511px;
        height: 384px;
        margin: 35px 0 0 84px !important;
        z-index: 11;
    }
}

@media(min-width:768px) and (max-width:810px){
    .hero-image {
    position: relative;
    height: auto;
    width: 48%;
    top: 0;
    left: 0;
    background: url(https://static.codia.ai/custom_image/2025-07-18/074333/main-background.png) no-repeat center;
    overflow: hidden;
}
    .hero-article {
    position: relative;
    width: 100%;
    height: auto !important;
    z-index: 11;
    margin-left: 3%;
    overflow: hidden;
}
.hero-content {
    width: 57% !important;
    top: 0 !important;
    bottom: 0 !important;
    margin: 0px;
    flex-direction: column;
    justify-content: space-between;
    left: 0% !important;
    background: #ff4612 !important;
    z-index: 11 !important;
    padding: 30px !important;
    height: auto;
}
.hero-title {
    text-transform: capitalize;
    color: #ffffff;
    font-size: 25px;
    font-weight: 400;
    line-height: 39px;
    text-align: left;
}
}
@media(max-width:768px){
    article.hero-article {
    display: block !important;
    margin-left: 5%;
}
.hero-image{
    width: 90%;
    height: 299px;
}
.hero-content{
    width: 90% !important;
    padding: 20px !important;
}
.hero-title {
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    height: 77px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    line-height: 34px;
    text-align: left;
}
.hero-meta-blog{
   opacity: 1;
}
p.article-description{
    display: block !important;
    width: auto !important;
}
.hero-author{
    font-size: 16px;
}
.hero-category{
    font-size: 16px;
}
}
